/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

body {
    margin: 0;
    padding: 0;
}

/* Heading Section start */
.container {
    background-color: #2D25A0;
    color: #fff;
    padding: 40px 130px;
    margin-bottom: 70px;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 68px;
}
a {
    text-decoration: none;
}
.menu-bar a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #fff;
}
.menu-bar .nav-left a:not(:last-child) {
    margin-right: 36px;
}
.mobile {
    display: none;
}
.button a{
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    background-color: #E02C6D;
    color: #fff;
}
.button i {
    vertical-align: middle;
}
.button .btn-space {
    margin-right: 5px;
}
.title-and-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-and-banner img {
    width: 556px;
    height: 438px;
}
.title {
    margin-top: -80px;
    margin-right: 108px;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
}

/* Heading Section end */

/* Players section Start */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 250px;
}
.card {
    width: 300px;
    height: 474px;
    margin: 15px 15px;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.card img {
    width: 300px;
    height: 256px;
}
.card .card-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    margin: 16px 0;
}
 p {
    margin: 0 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}

/* Players section end */

/* highlights section start */
#all-highlights {
    margin: 160px;
    margin-left: 250px;
}
.highlights {
    /* width: 470px; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.highlights .right img {
    width: 567px;
    height: 427px;
}
.highlights .left h1  {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 10px;
}
.highlights .left p  {
    margin-bottom: 24px;
    width: 400px;
}

/* highlights section end */

/* Exotic section start */

.exotic {
    position: relative;
    color: #fff;
    height: 650px;
    text-align: center;
}
.exotic::after {
    content: '';
    background-image: url(./images/exotic/bg.jpg);
    background-repeat: no-repeat;
    background-size: 1530px;
    background-attachment: fixed;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}
.exotic h1 {
    padding: 50px 0;
}
.envato h3 {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.envato {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: center;
}
.envato img {
    width: 240px;
    height: 200px;
}

/* Exotic section end */

/* Reviews section start */

.reviews {
    text-align: center;
    margin: 80px 50px;
}
.ratting {
    display: flex;
    justify-content: center;
}
.star-icon {
    margin-right: 10px;
    color: #FFD400;
}
.all-comment {
    display: flex;
    align-items: center;
    justify-content: center;
}
.all-comment a {
    font-size: 36px;
    background-color: #fff;
}
.reviews h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 32px;
    width: 1100px;
    padding: 50px 70px;
    color: #222222;
}
.review-button a {
    background-color: #6ba506;
    padding: 20px;
}

@keyframes btnChangeColor {
    from {background: #DA9A29; left: 0px}
    to {background: #DA9A29; left: 208px}
}

.review-button a:hover {
    /* background-image: #DA9A29; */
    animation: btnChangeColor 2s linear;
}
/* Reviews section end */

hr {
    margin: 0 130px;
}

/* Footer section start */
.footer {
    text-align: center;
    margin: 60px 0;
}
.logo {
    width: 480px;
    height: 110px;
}
.icon {
    margin: 20px 0;
}
.icon a {
    background-color: #E7E7E8;
    padding: 3px 4px;
    border-radius: 50%;
    margin-right: 14px;
    
}
.footer .icon a i {
    color: #969BAB;
}
.footer h5 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

/* Footer section end */


/* responsive design for MOBILE*/

@media only screen and (max-width: 688px) {
    /* Heading section start  */

    .mobile {
        display: block;
    }
    .web {
        display: none;
    }
    .container {
        padding: 40px 40px;
    }
    .title-and-banner {
        flex-direction: column;
    }
    .title {
        margin-right: -70px;
        margin-bottom: 50px;
    }
    /* Heading section end */


    /* Players section start */
    .players {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 165px;
    }
    /* Players section end */


    /* highlights section start */
    #all-highlights {
        margin: 70px 165px;
    }
    .highlights {
        flex-direction: column;
    }
    .highlights .left {
        margin-bottom: 30px;
    }
    .highlights .left h1 {
        font-size: 36px;
    }
    .highlights .left p {
        width: 300px;
    }
    .highlights .right img {
        width: 328px;
        height: 248px;
    }
    /* highlights section end */


    /* Exotic section start */
    .exotic {
        height: 900px;
    }
    .envato {
        grid-template-columns: repeat(2, 1fr);
    }
    /* Exotic section end */
}

/* responsive design for Tab*/
@media only screen and (min-width: 688px) and (max-width: 992px) {
    /* Heading section start  */

    .mobile {
        display: block;
    }
    .web {
        display: none;
    }
    /* .container {
        padding: 40px 40px;
        width: 992px;
    }
    .menu-bar .nav-left a:not(:last-child) {
        margin-right: 16px;
    } */
    .title-and-banner {
        flex-direction: column;
    }
    .title {
        margin-right: -70px;
        margin-bottom: 50px;
    }
    /* Heading section end */


    /* Players section start */
    .players {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 136px;
    }
    /* Players section end */


    /* highlights section start */
    #all-highlights {
        margin: 70px 136px;
    }
    .highlights {
        flex-direction: row;
        align-items: center;
    }
    .highlights .left {
        margin-bottom: 30px;
    }
    .highlights .left h1 {
        font-size: 36px;
    }
    .highlights .left p {
        width: 300px;
    }
    .highlights .right img {
        width: 328px;
        height: 248px;
    }
    /* highlights section end */


    /* Exotic section start */
    .exotic {
        height: 900px;
    }
    .envato {
        grid-template-columns: repeat(2, 1fr);
    }
    /* Exotic section end */
}

/* responsive design for MOBILE*/